@import "tailwindcss";
@plugin "daisyui" {
  themes: mytheme, light --default, dark --prefersdark, cupcake;
}

/*
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
*/

